@font-face {
  font-family: "FuturaPT";
  src: url("../../assets/fonts/FuturaPT-Book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Galliard";
  src: url("../../assets/fonts/galliard-roman-webfont.woff") format("woff"),
    url("../../assets/fonts/galliard-roman-webfont.woff2") format("woff2");
  font-style: normal;
}

body {
  font-family: "FuturaPT", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "sans-serif", "Arial" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.elementor-heading-title {
  font-family: "Galliard" !important;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
article,
ul,
ol {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.entry-content p {
  font-family: "FuturaPT";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.banner-section {
  background: url("../../assets/images/banner-bg.jpg") no-repeat 0 0;
  background-size: cover;
}

.banner-section .bg-light {
  background-color: transparent !important;
}

.inner-header.banner-section {
  background-image: none;
  background-color: #005d86;
}

.banner-section .navbar-light .navbar-nav .active > .nav-link,
.banner-section .navbar-light .navbar-nav .nav-link.active,
.banner-section .navbar-light .navbar-nav .nav-link.show,
.banner-section .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.banner-section .navbar-light .navbar-nav .nav-link,
.banner-section .navbar-light .navbar-nav .menu-link {
  color: #fff;
}

.banner-section .navbar-brand {
  padding: 0;
}

.banner-section .navbar {
  padding: 0.5rem 0;
}

.banner-section .navbar-nav .menu-item-has-children {
  position: relative;
}

.banner-section .navbar-nav .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.banner-section .navbar-nav .menu-item-has-children .sub-menu {
  background-color: #fff;
  position: absolute;
  top: 95%;
  left: 0;
  z-index: 99999;
  margin: 0;
  min-width: 103px;
}

.banner-section .navbar-nav .menu-item-has-children .sub-menu .menu-item {
  list-style: none;
}

.banner-section
  .navbar-nav
  .menu-item-has-children
  .sub-menu
  .menu-item
  .menu-link {
  color: #222;
}

.banner-section .navbar-nav .menu-item-has-children > .menu-link:after {
  content: "\e900";
  display: inline-block;
  font-family: Astra;
  font-size: 9px;
  font-size: 0.6rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  line-height: normal;
}

.banner-section .navbar-nav .sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  -webkit-transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: visibility 0.2s ease, transform 0.2s ease;
  transition: visibility 0.2s ease, transform 0.2s ease,
    -webkit-transform 0.2s ease;
}

.banner-section .banner-content {
  padding: 100px 0;
}

.banner-section .menu-link {
  display: block;
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 66px;
  text-transform: uppercase;
  color: #fff;
}

.banner-content h1 {
  position: relative;
}

.banner-content h1:after {
  content: "";
  position: absolute;
  left: 0;
  top: -17px;
  width: 50px;
  height: 3px;
  background: #ebc912;
}

.cta {
  background-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}

.cta:hover {
  background-color: #b3980a;
}

footer.main {
  color: #fff;
  font-size: 13px;
  background-color: #004463;
  padding-top: 60px;
}

footer.main p a {
  color: #fff;
  font-size: 13px;
}

footer.main p a:hover {
  color: #97adb7;
}

footer.main ol,
footer.main ul {
  margin: 0;
}

footer.main .social-icons {
  margin-top: 20px;
}

footer.main .social-icons li {
  display: inline-block;
}

footer.main .social-icons li a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer.main .social-icons li a:hover {
  background-color: #ebc912;
  border-color: #ebc912;
}

footer.main .get-in-touch h6 {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
}

footer.main .get-in-touch p {
  color: #97adb7;
  font-size: 13px;
}

footer.main h5 {
  color: #97adb7;
  margin-bottom: 15px;
}

footer.main .quick-links ul li {
  list-style: none;
  margin-bottom: 5px;
}

footer.main .quick-links ul li a {
  color: #fff;
}

footer.main .quick-links ul li.active a {
  color: #ebc912;
}

footer.main .bottom-section {
  border-top: 1px solid #fff;
  margin-top: 60px;
  padding: 15px;
}

footer.main .widget-title {
  color: #97adb7;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#text-3 .widget-title {
  color: #fff;
}

.instagram-spoontalk-social,
.instagram-spoontalk-social,
.tw-spoontalk-social,
.linkedin-spoontalk-social,
.fb-spoontalk-social {
  background-color: transparent;
}

.spoontalk-sociamedia-icons-widget a i {
  border: 1px solid #fff;
  border-radius: 100%;
}

.spoontalk-sociamedia-icons-widget a i:hover {
  border: 1px solid #ebc912;
  background-color: #ebc912;
}

/* 22/10/2020 */
p.para-bycolor {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

p.para-bycolor span {
  color: #ebc912;
}

.different-list {
  color: #fff;
}

.different-list li {
  display: flex;
  margin-bottom: 30px;
}
.different-list li:last-child {
  margin-bottom: 0;
}

.different-list li p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.different-list li span {
  color: #ebc912;
  margin-right: 10px;
}

h2.elementor-heading-title,
h2 {
  position: relative;
}
h2.elementor-heading-title:after {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  top: -17px;
  width: 50px;
  height: 3px;
  background: #ebc912;
}

div[data-id="e0805fd"] h2.elementor-heading-title:after {
  left: auto;
  right: 0;
  top: -15px;
}
div[data-id="47f2fc5"] h2.elementor-heading-title:after {
  left: 0;
  right: auto;
  top: -15px;
}

/* Slick slider style */
.wpsisac-slick-slider h2.wpsisac-slide-title {
  font-size: 36px;
  color: #fff;
  font-family: "Galliard" !important;
  line-height: 44px;
  margin-bottom: 15px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  p {
  color: #fff;
  font-size: 20px;
  line-height: 29px;
  font-family: "FuturaPT";
}

.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul {
  margin-top: 30px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li {
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li
  span {
  color: #ebc912;
  margin-right: 10px;
}

.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li
  p {
  font-size: 16px;
  line-height: 22px;
  font-family: "FuturaPT";
}

.wpsisac-slick-slider button.slick-prev,
.wpsisac-slick-slider button.slick-prev:hover,
.wpsisac-slick-slider button.slick-prev:focus,
.wpsisac-slick-slider button.slick-next,
.wpsisac-slick-slider button.slick-next:hover,
.wpsisac-slick-slider button.slick-next:focus {
  background-color: transparent !important;
}

.wpsisac-slide-wrap .wpsisac-readmore a.wpsisac-slider-readmore {
  margin-top: 20px;
  background-color: #ebc912;
  border-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}
.wpsisac-slide-wrap .wpsisac-readmore a.wpsisac-slider-readmore:hover {
  background-color: #b3980a;
  border-color: #b3980a;
}

.wpsisac-slick-slider .slick-dots li.slick-active button {
  background: #ebc912 !important;
}
.wpsisac-slick-slider .slick-dots li button {
  background-color: #001523 !important;
  border-color: #ebc912;
}
.astra-shop-thumbnail-wrap {
  background-color: #eff4f6;
  padding: 20px;
}
.inner-content {
  background-color: #005d86;
}
.content-area.primary {
  background-color: #ffffff;
}
.woocommerce .col-1, .col-2{ max-width:none;}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
max-width: unset;
}
.woocommerce-checkout .col-1, .woocommerce-checkout .col-2 {
  max-width: inherit;
}
.woocommerce-input-wrapper {
  width:100%;
}
.product-img {
  background-color: #eff4f6;
}
.product-thumb{
    margin-bottom: 30px;
}
.product-thumb figure{
    background-color: #eff4f6;
    padding: 25px;
    text-align: center;
    margin: 0 0 20px 0;
}
.product-thumb h4{
    font-size: 18px;
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
}
.product-thumb .price{
    color: #222;
    font-size: 16px;
}
.woocommerce .woocommerce-breadcrumb {
  color: #ebc912;
}
.woocommerce .woocommerce-breadcrumb a {
  color: #888888;
}
.woocommerce div.product .product_title {
  color: #005d86;
  font-size: 36px;
}
.woocommerce-Price-amount {
  color: #ebc912;
  font-weight: bold;
}
.woocommerce a.button,
.woocommerce button.button.alt,
.woocommerce-page table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce a.button.alt,
.woocommerce .woocommerce-message a.button,
.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout,
.woocommerce button.button.alt.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
  background-color: #ebc912;
  border-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}

.woocommerce a.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page table.cart td.actions .button:hover,
.woocommerce-page #content table.cart td.actions .button:hover,
.woocommerce a.button.alt:hover,
.woocommerce .woocommerce-message a.button:hover,
.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout:hover,
.woocommerce button.button.alt.disabled:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover {
  background-color: #b3980a;
}

.posted_in a {
  color: #ebc912;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  background: #ebc912;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #005d86;
}
.woocommerce-Tabs-panel--description p {
  margin-bottom: 15px;
}
.woocommerce-Tabs-panel--description p strong,
.woocommerce-Tabs-panel--description p span {
  color: #ebc912;
}
.woocommerce-Tabs-panel--description ul {
  margin: 10px 0;
}
.woocommerce-Tabs-panel--description ul li {
  list-style: none;
  position: relative;
}
.woocommerce-Tabs-panel--description ul li span {
  color: #ebc912;
  margin-right: 6px;
}
.woocommerce-Tabs-panel--description h4,
.woocommerce-Tabs-panel--description h5 {
  margin-top: 15px;
  color: #005d86;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .elementor-38
    .elementor-element.elementor-element-a8fd807
    > .elementor-element-populated {
    padding: 15px;
  }
  h2.elementor-heading-title {
    font-size: 30px;
  }
  .elementor-38 .elementor-element .elementor-button {
    font-size: 12px;
  }
  .banner-content h1 {
    font-size: 40px;
  }
  .banner-section .banner-content {
    padding: 50px 0;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .different-list li p {
    font-size: 16px;
    line-height: 20px;
  }

  .different-list li {
    margin-bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .elementor-38
    .elementor-element.elementor-element-8a42b73
    > .elementor-widget-container {
    padding: 20px;
  }
  .elementor-38 .elementor-element.elementor-element-0bb1204,
  .elementor-38 .elementor-element.elementor-element-5cb53dc,
  .elementor-38 .elementor-element.elementor-element-c7cf88c {
    padding: 40px 0;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-content-left {
    padding: 20px 0;
  }
  .wpsisac-slick-slider h2.wpsisac-slide-title {
    font-size: 26px;
    line-height: 34px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    p {
    font-size: 16px;
    line-height: 26px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    ul
    li
    p {
    font-size: 14px;
    line-height: 18px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    ul
    li {
    margin-bottom: 6px;
  }
  footer.main {
    padding-top: 30px;
  }
  .widget {
    margin: 0 0 1em 0;
  }
  footer.main .widget-title{
    margin-top: 15px;
  }
  footer.main .bottom-section{
    margin-top: 30px;
  }
}

@media (max-width: 575.98px) {
  .banner-content h1 {
    font-size: 36px;
  }

  h2.elementor-heading-title {
    font-size: 26px;
  }
  .cta {
    font-size: 14px;
  }
  .elementor-text-editor p {
    font-size: 14px;
  }
}
