@font-face {
  font-family: "FuturaPT";
  src: url("../../assets/fonts/FuturaPT-Book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Galliard";
  src: url("../../assets/fonts/galliard-roman-webfont.woff") format("woff"),
    url("../../assets/fonts/galliard-roman-webfont.woff2") format("woff2");
  font-style: normal;
}

body {
  font-family: "FuturaPT", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "sans-serif", "Arial" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.elementor-heading-title {
  font-family: "Galliard" !important;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
article,
ul,
ol {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.entry-content p {
  font-family: "FuturaPT";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
  color: #fff;
}

.entry-content h2 {
  color: #fff;
}

.woocommerce-Tabs-panel--description ul li,
.woocommerce-Tabs-panel--description ul li a,
.woocommerce-Tabs-panel--description div,
.woocommerce-Tabs-panel--description table,
.woocommerce-Tabs-panel--description td {
  color: #fff;
}

.banner-section {
  background: url("../../assets/images/banner-bg.jpg") no-repeat 0 0;
  background-size: cover;
}

.banner-section .bg-light {
  background-color: transparent !important;
}

.inner-header.banner-section {
  background-image: none;
  background-color: #005d86;
}

.banner-section .navbar-light .navbar-nav .active > .nav-link,
.banner-section .navbar-light .navbar-nav .nav-link.active,
.banner-section .navbar-light .navbar-nav .nav-link.show,
.banner-section .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.banner-section .navbar-light .navbar-nav .nav-link,
.banner-section .navbar-light .navbar-nav .menu-link {
  color: #fff;
}

.banner-section .navbar-brand {
  padding: 0;
}

.banner-section .navbar {
  padding: 0.5rem 0;
}

.banner-section .navbar-nav .menu-item-has-children {
  position: relative;
}

.banner-section .navbar-nav .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.banner-section .navbar-nav .menu-item-has-children .sub-menu {
  background-color: #fff;
  position: absolute;
  top: 95%;
  left: 0;
  z-index: 99999;
  margin: 0;
  min-width: 103px;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.banner-section .navbar-nav .menu-item-has-children .sub-menu .menu-item {
  list-style: none;
}

.banner-section
  .navbar-nav
  .menu-item-has-children
  .sub-menu
  .menu-item
  .menu-link {
  color: #222;
}

.banner-section .navbar-nav .menu-item-has-children > .menu-link:after {
  content: "\e900";
  display: inline-block;
  font-family: Astra;
  font-size: 9px;
  font-size: 0.6rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  line-height: normal;
  color: #ebc912;
}

.banner-section .navbar-nav .sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
  -webkit-transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: visibility 0.2s ease, transform 0.2s ease;
  transition: visibility 0.2s ease, transform 0.2s ease,
    -webkit-transform 0.2s ease;
}

.banner-section .navbar-nav .sub-menu .menu-link {
  border-bottom: 1px solid #eaeaea;
  padding: 0.9em 1em;
  display: block;
}
.banner-section .navbar-nav .sub-menu .menu-link:hover {
  color: #005d86;
}

.banner-section .banner-content {
  padding: 100px 0;
}

.banner-section .menu-link {
  display: block;
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 66px;
  text-transform: uppercase;
  color: #fff;
}

.banner-content h1,
h1 {
  position: relative;
}

.banner-content h1:after,
h1:after {
  content: "";
  position: absolute;
  left: 0;
  top: -17px;
  width: 50px;
  height: 3px;
  background: #ebc912;
}

.cta, a.cta {
  background-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}

.cta:hover, a.cta:hover {
  background-color: #b3980a;
}

footer.main {
  color: #fff;
  font-size: 13px;
  background-color: #004463;
  padding-top: 60px;
}

footer.main p a {
  color: #fff;
  font-size: 13px;
}

footer.main p a:hover {
  color: #97adb7;
}

footer.main ol,
footer.main ul {
  margin: 0;
}

footer.main .social-icons {
  margin-top: 20px;
}

footer.main .social-icons li {
  display: inline-block;
}

footer.main .social-icons li a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer.main .social-icons li a:hover {
  background-color: #ebc912;
  border-color: #ebc912;
}

footer.main .get-in-touch h6 {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
}

footer.main .get-in-touch p {
  color: #97adb7;
  font-size: 13px;
}

footer.main h5 {
  color: #97adb7;
  margin-bottom: 15px;
}

footer.main .quick-links ul li {
  list-style: none;
  margin-bottom: 5px;
}

footer.main .quick-links ul li a {
  color: #fff;
}

footer.main .quick-links ul li.active a {
  color: #ebc912;
}

footer.main .bottom-section {
  border-top: 1px solid #fff;
  margin-top: 60px;
  padding: 15px;
}

footer.main .widget-title {
  color: #97adb7;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#text-3 .widget-title {
  color: #fff;
}

.instagram-spoontalk-social,
.instagram-spoontalk-social,
.tw-spoontalk-social,
.linkedin-spoontalk-social,
.fb-spoontalk-social {
  background-color: transparent;
}

.spoontalk-sociamedia-icons-widget a i {
  border: 1px solid #fff;
  border-radius: 100%;
}

.spoontalk-sociamedia-icons-widget a i:hover {
  border: 1px solid #ebc912;
  background-color: #ebc912;
}

/*
replace bullet to arrow in details page ul li 
*/
#tab-description ul li,
.wpsisac-slider-short-content ul li {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#tab-description ul,
.wpsisac-slider-short-content ul {
  list-style: none;
  margin-left: 17px;
}

#tab-description ul li:before,
.wpsisac-slider-short-content ul li:before {
  content: "";
  position: absolute;
  border-right: 1px solid #ebc912;
  border-bottom: 1px solid #ebc912;
  width: 6px;
  height: 6px;
  top: calc(50% - 4px);
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
}

/* 22/10/2020 */
p.para-bycolor {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

p.para-bycolor span {
  color: #ebc912;
}

.different-list {
  color: #fff;
}

.different-list li {
  display: flex;
  margin-bottom: 30px;
}
.different-list li:last-child {
  margin-bottom: 0;
}

.different-list li p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.different-list li span {
  color: #ebc912;
  margin-right: 10px;
}

h2.elementor-heading-title,
h2 {
  position: relative;
}

.related.products h2 {
  color: #fff;
  margin-top: 70px;
}

.woocommerce-privacy-policy-text {
  margin-bottom: 20px;
}

.product-name a,
.shipping-calculator-button,
.woocommerce-privacy-policy-link,
.ast-single-post .entry-title,
.page-title {
  color: #fff;
}

h2.elementor-heading-title:after,
.related.products h2:after {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  top: -17px;
  width: 50px;
  height: 3px;
  background: #ebc912;
}

div[data-id="e0805fd"] h2.elementor-heading-title:after {
  left: auto;
  right: 0;
  top: -15px;
}
div[data-id="47f2fc5"] h2.elementor-heading-title:after,
.related.products h2:after {
  left: 0;
  right: auto;
  top: -15px;
}

/* Slick slider style */
.wpsisac-slick-slider h2.wpsisac-slide-title {
  font-size: 36px;
  color: #fff;
  font-family: "Galliard" !important;
  line-height: 44px;
  margin-bottom: 15px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  p {
  color: #fff;
  font-size: 20px;
  line-height: 29px;
  font-family: "FuturaPT";
}

.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul {
  margin-top: 30px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li {
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}
.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li
  span {
  color: #ebc912;
  margin-right: 10px;
}

.wpsisac-slick-slider.design-4
  .wpsisac-image-slide
  .wpsisac-slide-wrap
  .wpsisac-slider-short-content
  ul
  li
  p {
  font-size: 16px;
  line-height: 22px;
  font-family: "FuturaPT";
}

.wpsisac-slick-slider button.slick-prev,
.wpsisac-slick-slider button.slick-prev:hover,
.wpsisac-slick-slider button.slick-prev:focus,
.wpsisac-slick-slider button.slick-next,
.wpsisac-slick-slider button.slick-next:hover,
.wpsisac-slick-slider button.slick-next:focus {
  background-color: transparent !important;
}

.wpsisac-slide-wrap .wpsisac-readmore a.wpsisac-slider-readmore {
  margin-top: 20px;
  background-color: #ebc912;
  border-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}
.wpsisac-slide-wrap .wpsisac-readmore a.wpsisac-slider-readmore:hover {
  background-color: #b3980a;
  border-color: #b3980a;
}

.wpsisac-slick-slider .slick-dots li.slick-active button {
  background: #ebc912 !important;
}
.wpsisac-slick-slider .slick-dots li button {
  background-color: #001523 !important;
  border-color: #ebc912;
  border-radius: 0 !important;
}
.astra-shop-thumbnail-wrap {
  background-color: #eff4f6;
  padding: 20px;
}
.inner-content {
  background-color: #005d86;
}
.content-area.primary {
  background-color: #ffffff;
}
.product-thumb {
  margin-bottom: 30px;
}
.product-thumb figure {
  background-color: #80aec3;
  padding: 25px;
  text-align: center;
  margin: 0 0 20px 0;
}
.product-thumb h4 a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}
.product-thumb h4 a:hover {
  color: #ebc912;
}
.product-thumb .price {
  color: #fff;
  font-size: 16px;
}
.woocommerce .col-1,
.col-2 {
  max-width: none;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset;
}
.woocommerce-checkout .col-1,
.woocommerce-checkout .col-2 {
  max-width: inherit;
}
.woocommerce-input-wrapper {
  width: 100%;
}
.product-img {
  background-color: #80aec3;
}
.woocommerce .woocommerce-breadcrumb {
  color: #ebc912;
  margin-bottom: 30px;
}
.woocommerce .woocommerce-breadcrumb a {
  color: #fff;
}
.woocommerce div.product .product_title {
  color: #fff;
  font-size: 36px;
}
.summary.entry-summary .woocommerce-Price-amount {
  color: #ebc912;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.summary.entry-summary h1:after {
  background: none;
}
.summary.entry-summary .woocommerce .woocommerce-breadcrumb {
  margin-bottom: 13px;
}
.woocommerce div.product form.cart div.quantity {
  float: none;
  margin: 0 0px 20px 0;
}
.woocommerce a.button,
.woocommerce button.button.alt,
.woocommerce-page table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce a.button.alt,
.woocommerce .woocommerce-message a.button,
.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout,
.woocommerce button.button.alt.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wpcf7-form-control.wpcf7-submit {
  background-color: #ebc912;
  border-color: #ebc912;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 24px;
}

.woocommerce a.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page table.cart td.actions .button:hover,
.woocommerce-page #content table.cart td.actions .button:hover,
.woocommerce a.button.alt:hover,
.woocommerce .woocommerce-message a.button:hover,
.ast-site-header-cart .widget_shopping_cart .buttons .button.checkout:hover,
.woocommerce button.button.alt.disabled:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover,
.wpcf7-form-control.wpcf7-submit:hover {
  background-color: #b3980a;
}

.posted_in a {
  color: #ebc912;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  background: #ebc912;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  border-top: 1px solid #80aec3;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-Tabs-panel--description p a {
  color: #ebc912;
}
.woocommerce-Tabs-panel--description p {
  margin-bottom: 15px;
}
.woocommerce-Tabs-panel--description p strong,
.woocommerce-Tabs-panel--description p span {
  color: #ebc912;
}
.woocommerce-Tabs-panel--description ul {
  margin: 10px 0;
}
.woocommerce-Tabs-panel--description ul li {
  list-style: none;
  position: relative;
}
.woocommerce-Tabs-panel--description ul li span {
  color: #ebc912;
  margin-right: 6px;
  font-size: 13px;
}
.woocommerce-Tabs-panel--description ul li {
  margin-bottom: 15px;
}
.woocommerce-Tabs-panel--description ul li:last-child {
  margin-bottom: 0px;
}
.woocommerce-Tabs-panel--description h4,
.woocommerce-Tabs-panel--description h5 {
  margin-top: 15px;
  color: #ebc912;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  font-size: 16px;
  color: #fff;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
tr,
tt,
ul,
var {
  font-family: "FuturaPT" !important;
}
.elementor-text-editor {
  font-family: "FuturaPT" !important;
}

.elementor-widget-heading .elementor-heading-title {
  color: #005d86;
  font-weight: 400;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  display: none;
}

.woocommerce-checkout #payment div.payment_box .form-row {
  display: flex;
  align-items: center;
}
.woocommerce-checkout #payment ul.payment_methods li input {
  margin: -5px 5px 0 0;
}
.woocommerce form .form-row label {
  font-size: 0.9rem;
}
.woocommerce-page.woocommerce-checkout form #order_review {
  padding: 0 12px;
}
ul.payment_methods li input {
  margin: 0 0.5em 0 0;
}
.woocommerce-page.woocommerce-checkout form #order_review_heading {
  padding: 1.5em 12px 1em;
}

.woocommerce a,
.woocommerce-MyAccount-content a,
.woocommerce-MyAccount-navigation-link a {
  color: #fff;
}

.woocommerce a:hover,
.woocommerce-MyAccount-content a:hover {
  color: #fff;
}

.woocommerce-form-login__submit {
  margin-bottom: 10px !important;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce .woocommerce-message a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit,
.woocommerce button.button.alt.disabled,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wc-block-grid__product-onsale {
  color: #ffffff;
  border-color: #ebc912;
  background-color: #ebc912;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce .woocommerce-message a.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button,
.woocommerce-cart table.cart td.actions .button,
.woocommerce form.checkout_coupon .button,
.woocommerce #respond input#submit,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
  border-radius: 24px;
  color: #ffffff;
  border-color: #ebc912;
  background-color: #ebc912;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce .woocommerce-message a.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce-cart table.cart td.actions .button:hover,
.woocommerce form.checkout_coupon .button:hover,
.woocommerce #respond input#submit:hover,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link:hover {
  background-color: #b3980a;
}

.password-input {
  width: 100%;
  display: block;
}
.woocommerce .addresses .title .edit,
.woocommerce-account .addresses .title .edit {
  background-color: #ebc912;
  color: #fff;
  padding: 0.3em 1.5em;
  border-radius: 24px;
}
.woocommerce .addresses .title .edit:hover,
.woocommerce-account .addresses .title .edit:hover {
  background-color: #b3980a;
}

.elementor-text-editor ul {
  padding-left: 20px;
}
.elementor-text-editor a {
  color: #005d86;
}
.elementor-text-editor a:hover {
  color: #004463;
}

.cart-icon {
  font-weight: 700;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  font-size: 0.86em;
  line-height: 1.8;
  border-radius: 0 0 0.3em 0.3em;
  padding: 0 0.4em;
  color: #ebc912;
  border: 2px solid #ebc912;
  margin-top: 5px;
  margin-left: 20px;
}
.cart-icon a {
  color: #ebc912;
}

.cart-icon:after {
  bottom: 100%;
  margin-bottom: 0;
  height: 0.8em;
  width: 0.8em;
  left: 50%;
  transform: translateX(-50%);
  top: -0.6em;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-top-left-radius: 10em;
  border-top-right-radius: 10em;
  border: 2px solid #ebc912;
  border-bottom: 0;
}

.woocommerce-info {
  margin-bottom: 20px !important;
}

.product-table-data {
  margin: 30px 0 !important;
  padding: 0;
  border: 1px solid #c7c7c7;
  max-width: 100%;
  min-width: 354px;
  display: inline-block;
}

.product-table-data li {
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.product-table-data li:last-child {
  border-bottom: none;
}

.product-table-data li h4 {
  color: #005d86;
  margin-bottom: 10px;
  margin-top: 0px;
}
.product-table-data li p {
  color: #444;
  margin-bottom: 0px;
}
.product-table-data li p strong {
  color: #444 !important;
}

.wpcf7 .wpcf7-form-control-wrap {
  margin-top: 5px;
}
.woocommerce-product-details__short-description {
  margin: 15px 0 20px 0;
}
.woocommerce-product-details__short-description p {
  color: #fff;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  background-color: #fff;
}

label.ur-label,
.ur-frontend-form
  .ur-form-row
  .ur-form-grid
  .hide_show_password
  .password-input-group {
  width: 100%;
}

.ast-separate-container .ast-woocommerce-container,
.content-area.primary {
  background-color: #005d86;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.7);
}

.ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
  background-color: #005d86;
}

.woocommerce-Tabs-panel--description table,
.woocommerce-Tabs-panel--description td {
  border-color: #c7c7c7;
}

.ur-frontend-form .ur-form-row .ur-form-grid label.ur-label,
.ur-frontend-form .ur-form-row .ur-form-grid legend.ur-label {
  color: #fff;
}
.ur-frontend-form .ur-form-row .ur-form-grid select {
  color: #fff;
}
.ur-frontend-form .ur-form-row .ur-form-grid select option, .payment_box p, a.showlogin, a.showlogin:hover {
  color: #515151;
}
.woocommerce table.shop_table,
.woocommerce-page table.shop_table,
.woocommerce-page.woocommerce-checkout .woocommerce-order table.shop_table th {
  border-color: #c7c7c7;
}
.woocommerce table.shop_table thead,
.woocommerce-page table.shop_table thead,
.woocommerce-cart .cart-collaterals .cart_totals > h2,
.woocommerce-cart .cart-collaterals .cross-sells > h2 {
  background-color: #c7c7c7;
  color: #515151;
}
.woocommerce #content table.cart td,
.woocommerce-page #content table.cart td,
.woocommerce-checkout-review-order-table .product-name,
.product-total,
.woocommerce-order,
.woocommerce-page.woocommerce-checkout .woocommerce-order table.shop_table th {
  color: #fff;
}
.woocommerce-order-details__title {
  color: #515151 !important;
}
.woocommerce-order ul.order_details {
  margin-top: 30px;
}
.shop-table tbody,
.shop-table td,
.shop-table tr,
#order_review_heading {
  color: #fff;
}

.woocommerce-billing-fields h3,
.woocommerce-billing-fields label span {
  color: #fff;
}
.woocommerce-page.woocommerce-checkout form #order_review,
#ship-to-different-address label span,
.cart_totals table,
.cart_totals td,
.cart_totals tr,
.cart_totals th,
.woocommerce-account .woocommerce-MyAccount-content fieldset legend {
  color: #fff;
}
.payment_box.payment_method_bacs p {
  color: #515151;
}
.payment_method_square_credit_card p,
p.woocommerce-Message,
.woocommerce-Address-title.title h3,
p.cart-empty.woocommerce-info {
  color: #515151;
}

.woocommerce-Address address,
.woocommerce-account .woocommerce-MyAccount-content address {
  color: #fff;
  margin-top: 20px;
}
.woocommerce-Address-title.title {
  margin-top: 20px;
}
.woocommerce-MyAccount-content h3 {
  color: #fff;
}
.woocommerce-MyAccount-navigation-link.is-active a:hover {
  color: #3a3a3a;
}
.ur-frontend-form button,
.ur-frontend-form button[type="submit"],
.ur-frontend-form input[type="submit"] {
  padding: 8px 20px;
}
.ur-frontend-form button:hover,
.ur-frontend-form button[type="submit"]:hover,
.ur-frontend-form input[type="submit"]:hover {
  color: #fff;
}

@media (max-width: 991.98px) {
  .elementor-38
    .elementor-element.elementor-element-a8fd807
    > .elementor-element-populated {
    padding: 15px;
  }
  h2.elementor-heading-title {
    font-size: 30px;
  }
  .elementor-38 .elementor-element .elementor-button {
    font-size: 12px;
  }
  .banner-content h1 {
    font-size: 40px;
  }
  .banner-section .banner-content {
    padding: 50px 0;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .different-list li p {
    font-size: 16px;
    line-height: 20px;
  }

  .different-list li {
    margin-bottom: 15px;
  }
  .elementor-38
    .elementor-element.elementor-element-e0805fd
    .elementor-heading-title {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .elementor-38
    .elementor-element.elementor-element-8a42b73
    > .elementor-widget-container {
    padding: 20px;
  }
  .elementor-38 .elementor-element.elementor-element-0bb1204,
  .elementor-38 .elementor-element.elementor-element-5cb53dc,
  .elementor-38 .elementor-element.elementor-element-c7cf88c {
    padding: 40px 0;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-content-left {
    padding: 20px 0;
  }
  .wpsisac-slick-slider h2.wpsisac-slide-title {
    font-size: 26px;
    line-height: 34px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    p {
    font-size: 16px;
    line-height: 26px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    ul
    li
    p {
    font-size: 14px;
    line-height: 18px;
  }
  .wpsisac-slick-slider.design-4
    .wpsisac-image-slide
    .wpsisac-slide-wrap
    .wpsisac-slider-short-content
    ul
    li {
    margin-bottom: 6px;
  }
  footer.main {
    padding-top: 30px;
  }
  .widget {
    margin: 0 0 1em 0;
  }
  footer.main .widget-title {
    margin-top: 15px;
  }
  footer.main .bottom-section {
    margin-top: 30px;
  }
  .elementor-38
    .elementor-element.elementor-element-8871ef9
    .elementor-heading-title,
  .elementor-38
    .elementor-element.elementor-element-4d11c4a
    .elementor-heading-title,
  .elementor-38
    .elementor-element.elementor-element-68a356d
    .elementor-heading-title,
  .elementor-38
    .elementor-element.elementor-element-ffe51e9
    .elementor-heading-title {
    font-size: 26px;
  }
  .woocommerce div.product .product_title {
    font-size: 26px;
  }
  .related.products h2 {
    margin-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .banner-content h1 {
    font-size: 36px;
  }

  h2.elementor-heading-title {
    font-size: 26px;
  }

  .cta {
    font-size: 14px;
  }
  .elementor-text-editor p {
    font-size: 14px;
  }
  .elementor-38 .elementor-element.elementor-element-e336fd2 .elementor-button,
  .elementor-38 .elementor-element.elementor-element-a8af50e .elementor-button,
  .wpsisac-slide-wrap .wpsisac-readmore a.wpsisac-slider-readmore {
    font-size: 12px;
  }
  .elementor-widget-heading .elementor-heading-title {
    font-size: 28px;
  }
}
